<!-- start custom footer snippets -->
<div class="footer-custom">
  <div class="footer-custom__section">
    <h4>Navigate</h4>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/work/">Work</a></li>
      <li><a href="/research/">Research</a></li>
      <li><a href="/speaking/">Speaking</a></li>
      <li><a href="/resume/">Resume</a></li>
    </ul>
  </div>
  <div class="footer-custom__section">
    <h4>More</h4>
    <ul>
      <li><a href="/teaching/">Teaching</a></li>
      <li><a href="/year-archive/">Blog</a></li>
      <li><a href="/sitemap/">Sitemap</a></li>
    </ul>
  </div>
  <div class="footer-custom__section">
    <h4>Connect</h4>
    <ul>
      <li><a href="mailto:vbabashov@gmail.com"><i class="fas fa-envelope" aria-hidden="true"></i> Email</a></li>
      <li><a href="https://github.com/vbabashov" target="_blank"><i class="fab fa-github" aria-hidden="true"></i> GitHub</a></li>
      <li><a href="https://linkedin.com/in/vusalbabashov" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i> LinkedIn</a></li>
      <li><a href="https://scholar.google.ca/citations?user=GQ9CSjgAAAAJ&hl=en" target="_blank"><i class="fas fa-graduation-cap" aria-hidden="true"></i> Scholar</a></li>
    </ul>
  </div>
</div>
<!-- end custom footer snippets -->
